<%- include('header'); %>

<%- include('../examples/' + exampleName) %>

<p class="pull-right"><a href="https://github.com/FamilySearch/javascript-sdk-sample-app/tree/master/views/examples/<%= exampleName %>.ejs" target="_blank">View Source</a></p>

<%- include('footer'); %>