        </div><!-- end main column -->
      </div>
    </div><!-- end main container -->
    <% if(typeof exampleSource !== 'undefined'){ %>
    <script>
    <%- exampleSource %>  
    </script>
    <% } %>
  </body>
</html>